body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    background-image: url("../static/image/pexels-photo-669578.jpeg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    color: rgb(0, 0, 0); /* Adaugă această linie pentru a seta culoarea textului la alb */
}

h1 {
    color: #010101;
}

p {
    color: #000000;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

h2 {
    color: #000000;
    margin-top: 20px;
}
